
//*----VARIABLES----*//
$color-primario:white;
$color-secundario:beige;

//*----LISTA----*//
$colores:
red,
blue,
yellow,
green,
white,
black;

$font-size:
40px,
36px,
24px,
18px,
10px;

//*----EXTENDS----*//
/* PLACEHOLDER */

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//*---MIXIN---*//

@mixin flex ($flex, $justify, $aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}
